body {
	background-color: #eceff1;
	margin: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	overflow-x: hidden; 

}
li {
	display: inline;
	padding: 8px;
}
a {
	text-decoration: none;
}
header h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	padding: 20px;
}
.grid-container {
	border: 1px solid #45526e;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 0,5px;	
	font-size: 12px;
}
.grid-container > div {
	background-color: #3b465e;
	border-left: 0.5px solid #000;
	color: white;
	text-align: center;
	padding: 30px ;
	font-size: 30px;
}
.grid-container  p  {
	font-size: 16px;
}
.grid-container h3 {
	font-size: 14px;
}
.about  {
	margin: auto;
	width: 50%;
	padding: 10px;

}
.about p {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 10px;
	left: 50%;
	font-size: 18px;
}
.about  a {
	margin: auto auto;
	margin-top: 10px;
	color: white;
	background-color: #1e88e5;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid grey;
}

#try {
	font-size: 12px;
}

.about img {
	align-items: center;
	margin-bottom: 0px;
}
.cloud {
	background-color: #fff;
	height: 100%;
	width: 100%;
	padding: 20px;
	margin: auto;
}
.cloud h2 {
	text-align: center;
	font-size: 25px;	
}
.cloud p {
	display: block;
	color: grey;
	justify-content: center;
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 10px;
	left: 50%;
	font-size: 18px;
	padding: 5px;
}
.grid {
	padding-top: 30px;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	margin: auto ;
	height: auto;
	text-align: center;
	
}
.grid > div {
	border-spacing: 2px solid black;
	background-color: #fff;
	/*margin: auto auto;*/
	/*border-center: 1px solid black;*/
	border-right-style: 1px solid grey;
	width: 300px;
}
.grid p {
	color: grey;
	display: block;
	justify-content: center;
	width: auto;
	margin: auto;
	text-align: center;
	padding: 10px;
	left: 50%;
	font-size: 18px;
}

.grid a {
	background-color: 
	text-align: center;
	margin: 10px;
	background-color: #1e88e5;
	color: white;
	padding: 10px;
	font-size: 15px;

}
.grid h3 {
	font-size: 20px;
}
#plan {
	font-style: italic;
}
.customers {
	color: grey;
	padding: 40px;
	font-size: 18px;
	width: 50%;
	margin: auto;
	text-align: center;
}
.logo-grid  {
	display: grid;
	grid-template-columns:auto auto auto auto;
	margin: auto;
	grid-gap: 1px;
}