body {
	background-color: #435361;
	font-family: Roboto sans-serif;
	/*width: 90%;*/
}
.contenu {
	font-family: Roboto sans-serif;
	background-color: #fafafa;
	padding: 15px;
	height: auto auto;
	display: block;
	margin: auto auto;
	width: 900px;
	color: black;
	border: 1px solid grey;
}
.title {
	color: #37474F;
	padding: 15px;
	height: auto;
	text-align: center;
	margin: auto;
	font-size: 40px;

}
.subtitle {
	font-family: Roboto sans-serif;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	line-height: 35px;
}
.quote {
	font-size: 12px;
	font-family: Arial italic sans-serif;
	text-align: center;
}
#Auteur {
	text-align: right;
	margin-right: 10px;
}
hr {
	width: 50px;
	align-content: left;
}
img,figure {
	display: block;
	margin: auto auto;
	text-align: center;
}
h3,h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
}

p {
	display: block;
	width: 90%;
	text-align: justify;
	margin: auto auto;
}
table {
			border: 0,5px solid gray;
			width: 80%;
			text-align: left;
			margin: auto auto;
			
		}

		th {
			background-color: #435361;
			color: white;
		}
		th, td {
			text-align: left;
			padding: 8px;
		}
		tr:nth-child(even) {
			background-color: #dddddd;
		}
figcaption {
	text-align: center;
}

footer {
	background-color: #263238;
	text-align: center;
	color: white;
	width: 100%;
	margin: auto auto;
	height: 40px;
	padding: 15px;
}
blockquote {
	font-size: 20px;
	text-align: center;
	color: gray;
	width: 50%;
	margin: auto auto;
	background-color: #eceff1;
	padding: 30px;
	border-left: 3px solid #263238;
	font-style: italic;
}

a:active {
	color: tomato;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover{
	color: tomato;
}
.first-letter {
	font-size: 30px;
	
}
header {
	display: block;
	margin: auto auto;
	width: 930px;
	text-transform: uppercase;

}
li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: white;
}
li a:hover{
	background-color: #111;
}
li {
	float: left;
}
.liste {
	float: left;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background-color: #263238;

}

.logo {
	background-color: black;
	color: tomato;
}
.bien {
	text-transform: uppercase;
	color: #263238;
}
.mal {
	color: tomato;
	text-transform: uppercase;
}

.puce1 {
	background-image: url('bien.png');
	/*display: inline-block;*/
	background-repeat: no-repeat;
	background-size: 19px;
	align-self: left;
	background-position: 105%;
}
#gif {
	float: left;
	padding: 7px;
	width: 300px;
	height: 250px;

}
aside {
	background-color: #59698d;
	padding: 18px;
	color: white;
	border: 3px solid #DDDDCC;
	width: 250px;
	font-weight: bold;
	/*float: right;*/
	/*position: -webkit-sticky;*/
	position: fixed;
	right: 0px;
	bottom: 0px;
	
}