body {
	background-color: #435361;
	font-family: Roboto sans-serif;
}
.contenu {
	font-family: Roboto sans-serif;
	background-color: #fafafa;
	padding: 15px;
	height: auto auto;
	display: block;
	margin: auto auto;
	width: 900px;
	color: black;
}
.title {
	background-color: #37474F;
	color: white;
	padding: 15px;
	height: auto;
	text-align: center;
	margin: auto;

}
.subtitle {
	font-family: Roboto sans-serif;
	font-style: italic;
	font-size: 20px;
	text-align: center;
}
.quote {
	font-size: 12px;
	font-family: Arial italic sans-serif;
	text-align: center;
}
#Auteur {
	text-align: right;
	margin-right: 10px;
}
hr {
	width: 50px;
	align-content: left;
}
img,figure {
	display: block;
	margin: auto auto;
	text-align: center;
}
h3,h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
}

p {
	display: block;
	width: 90%;
	text-align: justify;
	margin: auto auto;
}
table {
			border: 0,5px solid gray;
			width: 80%;
			text-align: left;
			margin: auto auto;
			
		}

		th {
			background-color: #435361;
			color: white;
		}
		th, td {
			text-align: left;
			padding: 8px;
		}
		tr:nth-child(even) {
			background-color: #dddddd;
		}
figcaption {
	text-align: center;
}

footer {
	background-color: #78909c;
	text-align: center;
	color: white;
}

